#article-list-page .article-list article {
    flex: 1 1 100%;
    border-bottom: 2px #00695C solid; 
    margin: 1em;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
}

article h2 {
    margin: 0.5em 0;
    padding: 0.5em 0;
    text-align: justify;
    font-size: 1.1em;
    font-family: Calibri Light;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

article .image-container {
   margin: 10px;
   flex: 1 1 20em;
   max-height: 25em;
   overflow: hidden;
   cursor: pointer;
}


article .post-image {
    width: 100%;
    height: auto;
}

article p {
    margin: 0.5em;
    font-size: 0.9em;
    flex: 1 1 20em;
}

.publication-date,
.author-name,
.post-tags {
    padding-right: 3em;
    text-align: right;
    font-size: 0.7em;
    text-decoration: none;
    color: #999;
    flex: 1 1 100%em;
    align-self: flex-end;
}

.post-tags {
    padding-right: 0;
} 


.main-page .publication-date {
    font-style: italic;
}

.main-page .post-tags {
    text-align: center;
}


.show-more-article-button {
    background: transparent;
    color: #00695C;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 0.4em 1.25em;
    border-radius: 10px;
    margin: 1em auto;
    align-self: flex-end;
}

.show-more-article-button:hover {
    background: #00695C;
    color: #FFF; 
}
