#filter-button {
    position: fixed;
	right: 0;
    bottom: 17em;  
    background-color: #00695C;
    font-size: 1.3em;
    padding: 0.6em;
    padding-top: 0.8em;
    width: 1em;
    height: 1em;
	transition-duration: 0.75s;
	border-radius: 1.5em 0 0 1.5em;
    border-style: none;
    outline-style: none;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.5);
}

.button-image {
    width: 100%;
    height: 100%;
}

.filter-form {
    position: fixed;
	right: -20em;
    bottom: 0.7em;
	background: #F5F5F5;
	width: 20em;
	transition-duration: 0.75s;
    border: 5px #00695C solid;
    border-right: 0;
    border-radius: 30px 0px 0px 0px;
}

#filter-button:hover {
    right: 20em;
}

#filter-button:hover .filter-form {
    right: 0;
}

.filter-form h1 {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: #00695C;
    border-bottom: 2px #00695C solid;
    font-size: 18px;
}

.filter-form h2 {
    text-align: left;
    margin: 2em;
    margin-bottom: 0.1em;
    color: #00695C;
    font-size: 14px;
}

.filter-form select {
    outline: 0;
    border: 0;
    background: #E0E0E0;
    padding: 15px;
    margin: 0.5em;
    box-sizing: border-box;
    font-size: 14px;
    width: calc(100% - 1em);
}

.filter-form input[type="date"] {
    outline: 0;
    border: 0;
    background: #E0E0E0;
    padding: 15px;
    margin:  0.5em;
    font-size: 14px;
    width: calc(45% - 1em - 15px);
    float: left;
}

.filter-form input[type="checkbox"]{
    display: inline;
    margin: 1em;
}

.filter-form label {
    display: block;
    margin: 0.1em;
    color: #00695C;
    font-size: 14px;
    text-align: left;
    height: 2em;
}

.filter-form button {
    text-transform: uppercase;
    outline: 0;
    border: 0;
    background: #00695C;
    width: 80%;
    margin: 1em;
    margin-left: 10%;
    padding: 7px;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
}