header {
    margin: 0 1em;
    height: 2.5em;
    overflow: hidden;
    z-index: 150;
}

.logo {
    color: #FFF;
    letter-spacing: -1px;
    text-decoration: none;
    float: left;
    padding: 0.1em;
    font-size: 2em;
}

#burger-menu-button {
    float: right;
    background: transparent;
    width: 1.5em;
    margin: 0.7em;
    border-style: none;
    cursor: pointer;
    outline-style: none;
    display: block;
}

#log-in-button {
    float: right;
    width: 1.6em;
    height: 1.6em;
    margin: 0.6em;
    cursor: pointer;
}

.header-user-panel {
    position: fixed;
    right: 2.2em;
    top: 2em;
    width: 15em;
    height: 16em;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 180;
    display: none;
}

.header-user-panel-container:hover .header-user-panel {
    display: block;
}

.header-user-panel h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
}

.header-user-panel p {
    font-size: 12px;
    text-align: center;
    margin: 0;
}

.header-user-panel .user-panel-image {
    width: 5em;
    height: 5em;
    margin: 5em;
    margin-bottom: 0.5em;
    margin-top: 2em;
    border-radius: 2.5em;
    border: 0px;
}

.header-user-panel .header-user-panel-button {
    outline: 0;
    border: 0;
    background: #00695C;
    color: #FFF;
    font-size: 14px;
    height: 2.3em;
    width: calc(100% - 2em);
    cursor: pointer;
    margin: 1em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    display: block;
}
