header {
    max-width: 80em;
    margin: 0 auto;
    height: 3.5em;
    overflow: hidden;
    z-index: 150;
}

.logo {
    color: #FFF;
    padding: 0.2em;
    font-size: 2em;
    letter-spacing: -1px;
    text-decoration: none;
    float: left;
}

#header-menu nav {
    float: left;
    margin: 1em 5em;
}

#header-menu nav button {
    background: transparent;
    text-align: center;
    border-style: none;
    color: #B2DFDB;
    cursor: pointer;
    outline-style: none;
    font-size: 13px;
}

#header-menu nav button:hover {
    color: #EEF;
}

#header-menu nav button.active-button {
    color: #FFF;
    text-decoration: underline;
}

#log-in-button {
    float: right;
    width: 1.8em;
    height: 1.8em;
    margin: 0.8em;
    cursor: pointer;
}

.header-user-panel {
    position: absolute;
    right: 2em;
    top: 2.55em;
    width: 15em;
    height: 16em;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 170;
    display: none;
}

.header-user-panel-container:hover .header-user-panel {
    display: block;
}

.header-user-panel h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
}

.header-user-panel p {
    font-size: 12px;
    text-align: center;
    margin: 0;
}

.header-user-panel .user-panel-image {
    width: 5em;
    height: 5em;
    margin: 5em;
    margin-bottom: 0.5em;
    margin-top: 2em;
    border-radius: 2.5em;
    border: 0px;
}

.header-user-panel .header-user-panel-button {
    outline: 0;
    border: 0;
    background: #00695C;
    color: #FFF;
    font-size: 14px;
    height: 2.3em;
    width: calc(100% - 2em);
    cursor: pointer;
    margin: 1em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    display: block;
}

#burger-menu-button {
    background: transparent;
    width: 1.5em;
    margin: 0.7em;
    float: right;
    border-style: none;
    cursor: pointer;
    outline-style: none;
    display: none;
}