@media (max-width: 700px), (orientation: portrait) {
    .filter-form {
        width: calc(100% - 10px);
        margin: 0 5px;
    }

    nav {
        width: 100%;
    }

    #main-page h1 {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #main-page article {
        width: 100%;
        margin: 0;
        margin-bottom: 2px;
        box-shadow: 0 0 0;
        border-bottom: 1px #000 solid;
    }

    #main-page article .image-container {
        height: 40%;
    }

    #main-page article .text-containers {
        height: 40%;
    }

    #main-page article h1 {
        margin-left: 1em;
        margin-right: 1em;
    }

    #main-page article p {
        margin-left: 2em;
        margin-right: 2em;
    }

    .multisize-article-container article:first-child  .image-container{
        width: 100%;
        height: 40%;
        float: none;
    }

    .multisize-article-container article:first-child .text-containers {
        height: 40%;
    }

    .multisize-article-container article:first-child h2 {
        margin-left: 1em;
        margin-right: 1em;
        width: calc(100% - 2em);
        float: none;
    }

    .multisize-article-container article:first-child p {
        margin-left: 2em;
        width: calc(100% - 4em);
        float: none; 
    }

    .multisize-article-container article:first-child .author-name,
    .multisize-article-container article:first-child .publication-date,
    .multisize-article-container article:first-child .post-tags {
        width: 100%;
        padding-left: 2em;
        width: calc(100% - 4em);
    }

    #article-list-page .article-list {
        width: 100%;
    }

    #article-list-page .article-list article p {
        padding-left: 2em;
        width: calc(100% - 4em);
    }

    #article-list-page .article-list article .post-tags {
        width: 100%; 
    }

    .post-page article div {
        box-shadow: 0 0 0;
        border-top: #000 1px solid;
        border-bottom: #000 1px solid;
        width: 99%;
        margin-left: 0;
        margin-right: 0;
    }
    .post-page .author-name, .post-page .publication-date {
        width: 99%;
        margin-left: 0;
        margin-right: 0;
    }
    .tri-right::after {
        display: none;
    }
    .filter-form {
        left: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0;
    }
    #main-page .post-button {
        display: none;
    }
    .log-in-form {
        width: 100%;
        top: 10%;
        left: 0;
        border-radius: 0px;
    }
    #add-text-input, #add-url-input, #editing-completed {
        width: 98%;
        height: 3em;
        margin: 1%;
        padding: 1%;
    }

    .pagination {
    margin-left: 10%;
    }

    #filter-button, #button-add-post {
    bottom: 0.5em;
    }
    footer p {
        text-align: center;
    }
}

@media (max-width: 1200px) and (min-width: 700px){
    header {
        border-radius: 0px;
        max-width: 100em;
    }

    #main-page article {
        width: 49%;
        margin: 0.5%;
    }

    .pagination {
        margin-left: 27%;
    }

    header input {
        width: 15rem;
    }

    nav img {
        display: block;
    }

    .nav-buttons {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    nav button {
        color: #000;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    nav:hover .nav-buttons {
        display: block;
    }

    #article-list-page .article-list {
        width: 100%;
    }
}