@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
  height: 100%;
  box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Roboto", sans-serif;
    background: #FAFAFA;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.display-none {
    display: none;
}

.clearfix {
    clear: both;
}

#overlay, #message-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    background: #000;
    opacity: 0.8;
}

#message-overlay {
    z-index: 170;
}

/* header */
.header-line {
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: auto;
    background: #00897B;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    z-index: 10;
}

header, main, nav {
    margin: 0 auto;
    max-width: 75em;
    display: block;
}

header {
    max-width: 85em;
    height: 4em;
    z-index: 2;
}

.logo {
    color: #FFF;
    padding: 0.5em;
    padding-top: 0.3em;
    font-size: 2.5em;
    letter-spacing: -1px;
    text-decoration: none;
    float: left;
}

nav {
    float: left;
    margin-top: 2em;
    margin-left: 1em;
}

nav img {
    margin-top: -0.2em;
    width: 2em;
    height: 2em;
    display: none;
}

nav button {
    background: transparent;
    text-align: center;
    border-style: none;
    color: #B2DFDB;
    cursor: pointer;
    outline-style: none;
}

nav .active-button {
     color: #FFF;
     text-decoration: underline';
}

header input {
    background: #E0F2F1;
    border-radius: 10px;
    border: 0;
    width: 18rem;
    margin-top: 1.8em;
    margin-left: 1em;
    padding: 0.5em;
    padding-left: 1em;
    box-sizing: border-box;
    font-size: 14px;
    outline: none; 
    float: left;   
}

#log-in-button {
    float: right;
    width: 2.5em;
    height: 2.5em;
    margin: 1.25em;
    cursor: pointer;
}

.header-user-panel {
    position: absolute;
    right: 2em;
    top: 3em;
    width: 15em;
    height: 16em;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}

.header-user-panel-container:hover .header-user-panel {
    display: block;
}

.header-user-panel h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
}

.header-user-panel p {
    font-size: 12px;
    text-align: center;
    margin: 0;
}

.header-user-panel .user-panel-image {
    width: 5em;
    height: 5em;
    margin: 5em;
    margin-bottom: 0.5em;
    margin-top: 2em;
    border-radius: 2.5em;
    border: 0px;
}

.header-user-panel .header-user-panel-button {
    outline: 0;
    border: 0;
    background: #00695C;
    color: #FFF;
    font-size: 14px;
    height: 2.3em;
    width: calc(100% - 2em);
    cursor: pointer;
    margin: 1em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    display: block;
}

#burger-menu-button {
    background: transparent;
    width: 1.5em;
    margin: 0.7em;
    float: right;
    border-style: none;
    cursor: pointer;
    outline-style: none;
    display: none;
}

/* main page */
main {
    margin-top: 5.5em;
    margin-bottom: 2em;
}

.header-image{
    position: absolute;
    left: 0;
    
    top: 0;
    z-index: 0;
}

.main-page section {
    margin-bottom: 0.5em;
    margin-top: 0;
}

.main-page h1 {
    padding-left: 2em;
    font-size: 1.8em;
    border-bottom: 2px #00695C solid;
    color: #00695C;
    cursor: pointer;
    margin-top: 0;
}

.main-page article {
    width: 24%;
    height: 30em;
    overflow: hidden;
    margin: 0.5%;
    float: left;
    float: left;
}

#template-article-item {
    display: none;
}

.main-page article .image-container {
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.post-image {
    width: 100%;
}

.main-page .text-containers {
    height: 30%;
}

.main-page article h2 {
    margin: 0.5em;
    padding-bottom: 0;
    padding-top: 0.5em;
    text-align: justify;
    font-size: 1.1em;
    font-family: Calibri Light;
    cursor: pointer;
}

.main-page article h2:hover {
    color:#00897B;
}

.main-page article p {
    margin: 0.5em;
    font-size: 0.9em;
    padding-left: 1em;
    padding-right: 1em;
}

.main-page .publication-date,
.main-page .author-name,
.main-page .post-tags {
    height: 3%;
    width: 100%;
    padding-right: 1em;
    text-align: right;
    font-size: 0.7em;
    text-decoration: none;
    color: #999;
    float: right;
}

.main-page .post-tags {
    padding-right: 0;
}   

.multisize-article-container article {
    width: calc(97%/3);
    height: 35em;
}

.multisize-article-container article .image-container {
    height: 45%;
}

.multisize-article-container article p {
    height: 30%;
}

.main-page .publication-date {
    font-style: italic;
}

.main-page .post-tags {
    text-align: center;
}

.main-page .post-button {
    outline: 0;
    border: 0;
    height: 1em;
    width: 1em;
    cursor: pointer;
    float: right;
    margin: 0.3em;
    background-size: cover;
    background-color: transparent;
}

.main-page .delete-button {
    height: 1.3em;
    width: 1.3em;
    background-image: url(../img/delete.png);
}

.main-page .edit-button {
    background-image: url(../img/pen.png);
}

/* list */
#article-list-page {
    margin-bottom: 6em;
}

#article-list-page .article-list {
    width: 80%;
    float: left;
}

#article-list-page .article-list article {
    width: 100%;
    float: left;
    border-bottom: 2px #00695C solid; 
    margin-top: 1em;
}

#article-list-page .article-list article .image-container {
    width: 40%;
    float: left;
}

#article-list-page .article-list article h2 {
    margin: 0;
    padding-left: 1em;
    width: calc(60% - 2em);
    float: left;
    font-size: 22px;
    font-family: Calibri Light;
    cursor: pointer;
}

#article-list-page .article-list article h2:hover {
    color: #00897B;
}

#article-list-page .article-list article p {
    padding-left: 2em;
    width: calc(60% - 4em);
    float: left;
    font-size: 14px;
}

#article-list-page .article-list article .author-name,
#article-list-page .article-list article .publication-date, 
#article-list-page .article-list article .post-tags {
    height: 4%;
    width: 60%;
    float: right;
    text-align: right;
    font-size: 12px;
}

#article-list-page .article-list article .post-tags {
    text-align: center;
}

#article-list-page .post-button {
    outline: 0;
    border: 0;
    height: 1em;
    width: 1em;
    cursor: pointer;
    float: right;
    margin: 0.3em;
    background-size: cover;
    background-color: transparent;
}

#article-list-page .delete-button {
    height: 1.3em;
    width: 1.3em;
    background-image: url(../img/delete.png);
}

#article-list-page .edit-button {
    background-image: url(../img/pen.png);
}

#pagination {
    margin-left: 35%;
    display: block;
}

#pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

#pagination a.active {
    background-color: #00897B;
    color: white;

}

#pagination a:hover:not(.active) {
    background-color: transparent;
}


/* article detail view, edit page */
#post-page {
    overflow: hidden;
    position: fixed;
    top: 1em;
    bottom: 1em;
    width: 90%;
    left: 5%;
    margin: auto;
    padding: 1%;
    font-size: 1em;
    display: none;
    z-index: 150;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    background: #FFF;
    overflow: scroll;
}

#close-post-page-button {
    padding: 0.25em;
    float: right;
    height: 1.5em;
    width: 1.5em;
    background-color: transparent;
    border: 0;
    outline: 0;
    background-size: 100% 100%;
    background-image: url(../img/close.png);
    cursor: pointer;
}

#post-page h1 {
    padding-left: 2em;
    font-size: 1.8em;
    border-bottom: 2px #00695C solid;
    color: #00695C;
    margin-top: 0;
}

#post-page h6 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-style: inherit;
}

#post-page .image-container {
  width: 80%;
  margin-left: 10%;
  height: 27em;
  overflow: hidden;
  position: relative;
}

#prev-button, #next-button {
  position: absolute;
  cursor: pointer;
  top: calc(50% - 25px);
  padding: 16px;
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s;
}

#prev-button {
  left: 0;
  border-radius: 0 3px 3px 0;
}

#next-button {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#next-button:hover, #prev-button:hover {
  background-color: rgba(0,0,0,0.8);
}

#dots-container {
 text-align: center;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  color: transparent;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s;
}

.active, .dot:hover {
  background-color: #00897B;
}

#post-page img {
    width: 100%;
}

#post-page .author-name, #post-page .publication-date {
    width: 47%;
    margin: 0.5%;
    padding: 1%;
    float: left;
    text-align: center;
}

#post-page .post-tags {
    text-align: center;
    font-size: 0.8em;
}

#post-page .post-button {
    outline: 0;
    border: 0;
    height: 1em;
    width: 1em;
    cursor: pointer;
    float: right;
    margin: 0.3em;
    background-size: cover;
    background-color: transparent;
}

#post-page .delete-button {
    height: 1.3em;
    width: 1.3em;
    background-image: url(../img/delete.png);
}

#post-page .edit-button {
    background-image: url(../img/pen.png);
}

/* edit form */
#edit-form {
    width: 100%;
    margin: 0.5%;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
}



#edit-form h1 {
    padding-left: 2em;
    font-size: 1.8em;
    border-bottom: 2px #00695C solid;
    color: #00695C;
    cursor: pointer;
    margin-top: 0;
}

#edit-form input, #edit-form textarea {
    outline: 0;
    border: 0;
    background: #E0E0E0;
    width: 98%;
    margin: 1%;
    padding: 1em;
    box-sizing: border-box;
    font-size: 14px;
}

#edit-form-add-image-button {
    display: inline;
}

#edit-form-add-image-button button {
    background-image: url(../img/plus.png);
    background-color: transparent;
    width: 1.3em;
    height: 1.3em;
    margin: 1em;
    margin-left: 2em;
}

#edit-form-add-image-button .tooltip {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 1em;
    display: none;
    float: left;
    position: absolute;
    cursor: pointer;
}

#edit-form-add-image-button:hover .tooltip {
    display: inline;
}

#edit-form input[type='text'] {
    width: calc(96% - 2.3em);
    margin-left: 1em;
    height: 3em;
}

#edit-form .wrong {
    border: 2px solid #F44336;
    border-radius: 4px;
}

.edit-form-tags label {
    margin: 0.1em;
    color: #00695C;
    float: left;
    padding: 0 2em;
    font-size: 14px;
    text-align: left;
    height: 2em;
}

.edit-form-tags input[type="checkbox"]{
    display: inline;
    float: left;
    margin: 1em;
}

.delete-image-input-button {
    width: 1.3em;
    height: 1.3em;    
    background-image: url(../img/delete.png);
    background-color: transparent;
}

#edit-form button {
    outline: 0;
    border: 0;
    cursor: pointer;
    background-size: cover;
}


#edit-form .edit-form-button {
    width: 49%;
    color: #FFF;
    background: #00695C;
    font-size: 20px;
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.5%;
    float: left;
}

/* error page */

.error-page h1 {
  padding: 0.3em;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 40px;
  text-align: center;
  width: 100%;
}

.error-page h6 {
  font-size: 20px;
  text-align: justify;
  width: 70%;
  margin-left: 15%;
}

/* footer */

footer {
    background: #004D40;
    color: #FFF;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

footer p {
    text-align: left;
    margin: 0;
    padding: 0;
    color: #E0F2F1
}

footer h6, footer h1 {
    margin: 0;
}


/*---- filtr-form ----*/

#filter-button {
    position: fixed;
	right: 0;
    bottom: 17em;  
    background-color: #00695C;
    font-size: 1.3em;
    padding: 0.6em;
    padding-top: 0.8em;
    width: 1em;
    height: 1em;
	transition-duration: 0.75s;
	border-radius: 1.5em 0 0 1.5em;
    border-style: none;
    outline-style: none;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.5);
}

.button-image {
    width: 100%;
    height: 100%;
}

.filter-form {
    position: fixed;
	right: -20em;
    bottom: 0.7em;
	background: #F5F5F5;
	width: 20em;
	transition-duration: 0.75s;
    border: 5px #00695C solid;
    border-right: 0;
    border-radius: 30px 0px 0px 0px;
}

#filter-button:hover {
    right: 20em;
}

#filter-button:hover .filter-form {
    right: 0;
}

.filter-form h1 {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: #00695C;
    border-bottom: 2px #00695C solid;
    font-size: 18px;
}

.filter-form h2 {
    text-align: left;
    margin: 2em;
    margin-bottom: 0.1em;
    color: #00695C;
    font-size: 14px;
}

.filter-form select {
    outline: 0;
    border: 0;
    background: #E0E0E0;
    padding: 15px;
    margin: 0.5em;
    box-sizing: border-box;
    font-size: 14px;
    width: calc(100% - 1em);
}

.filter-form input[type="date"] {
    outline: 0;
    border: 0;
    background: #E0E0E0;
    padding: 15px;
    margin:  0.5em;
    font-size: 14px;
    width: calc(45% - 1em - 15px);
    float: left;
}

.filter-form input[type="checkbox"]{
    display: inline;
    margin: 1em;
}

.filter-form label {
    display: block;
    margin: 0.1em;
    color: #00695C;
    font-size: 14px;
    text-align: left;
    height: 2em;
}

.filter-form button {
    text-transform: uppercase;
    outline: 0;
    border: 0;
    background: #00695C;
    width: 80%;
    margin: 1em;
    margin-left: 10%;
    padding: 7px;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
}

/*---- log-in-form ----*/

.log-in-form {
    border-radius: 5px;
    left: 25%;
    top: 15%;
    width: 50%;
    padding: 1em;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    position: fixed;
    z-index: 100;
    padding: 1em;
    background: #FAFAFA;
    display: none;
}

.log-in-form h1 {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: #00695C;
    border-bottom: 2px #00695C solid;
    font-size: 18px;
    margin-bottom: 1em;
}

.log-in-form button {
    text-transform: uppercase;
    outline: 0;
    background: #00695C;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
}

.log-in-form input {
    outline: 0;
    border: 0;
    background: #f0f0f0;
    padding: 15px;
    margin-bottom: 1em;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
}

/* ---- message forms -----*/

.message-form {
    border-radius: 5px;
    left: 30%;
    top: 15%;
    width: 40%;
    padding: 1em;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    position: fixed;
    z-index: 200;
    padding: 1em;
    background: #FAFAFA;
    display: none;
    border: 2px #00695C solid;
}

.lmessage-form  h1 {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-bottom: 1em;
}

.message-form  button {
    text-transform: uppercase;
    outline: 0;
    background: #00695C;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
}

#error-form h1 {
    color: #EF9A9A;
    border-bottom: 2px #EF9A9A solid;
}

#exclamation-form h1 {
    color: #FFB74D;
    border-bottom: 2px #FFB74D solid;
}


#exclamation-form button {
    width: calc(50% - 0.4em - 2px);
    margin: 0em 0.2em;
    
}

#message-form h1 {
    color: #009688;
    border-bottom: 2px #009688 solid;
}
