@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html {
  height: 100%;
  box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Roboto", sans-serif;
    background: #F5F5F5;
    margin: 0px;
    padding-bottom: 6rem;
    top: 0;
    min-height: 100%;
}

.header-line {
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: auto;
}

header, main {
    margin: 0 auto;
    max-width: 70em;
    display: block;
    overflow: hidden;
}

header {
    background: #01579B;
    margin-bottom: 1.25em;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
    max-width: 72em;
    border-radius: 0 0 5px 5px;
}

.logo {
    font-family: Eras Bold ITC;
    color: #FFF;
    padding: 1em;
    font-size: 2.3em;
    font-weight: 100;
    letter-spacing: -1px;
    text-decoration: none;
}

header span {
    color: #FFF;
    padding: 0.7em;
    padding-right: 1em;
    font-size: 1.1em;
    letter-spacing: -1px;
    text-decoration: none;
    float: right;
    border-right: #FFF 3px solid;
    cursor: pointer;
}

#log-in-button {
    background: transparent;
    padding: 0.7em;
    float: right;
    text-align: center;
    border-style: none;
    font-size: 1.1em;
    color: #FFF;
    cursor: pointer;
    outline-style: none;
}

#filter-button, #button-add-post {
    position: fixed;
    right: 2em;
    bottom: 2em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.5);
    background-color: #01579B;
    border-style: none;
    outline-style: none;
    font-size: 1.3em;
    cursor: pointer;
    padding: 0.6em;
    padding-top: 0.8em;
    z-index: 2;
}

#filter-button {
    right: 2em;
}

#button-add-post {
    right: 5em;
}

.button-image {
    width: 100%;
    height: 100%;
}

main {
    margin-top: 2.75em;
    margin-bottom: 1em;
}

.main-page article {
    overflow: hidden;
    width: 49.5%;
    height: 20em;
    margin: 0.25%;
    font-size: 1em;
    float: left;
    background-color: #EEEEEE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.main-page .image-container {
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.main-page .post-image {
    height: 100%;
}

.main-page .post-text-container {
    float: left;
    width: 50%;
    height: 100%;
}

.main-page .post-button {
    width: 25px;
    height: 25px;
    padding: 0;
    float: right;
    background: transparent;
    border-style: none;
    cursor: pointer;
    outline-style: none;
}

.button-image {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.main-page .post-name {
    padding: 5%;
    padding-bottom: 0;
    height: 20%;
    width: calc(90% - 50px);
    text-align: center;
    vertical-align: middle;
    font-size: 1.4em;
    font-family: Calibri Light;
    color: #455A64;
}

.main-page .short-discription {
    color: #212121;
    height: 60%;
    font-size: 0.8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: justify;
    overflow: hidden;
}

.main-page .publication-date, .main-page .author-name {
    width: 100%;
    height: 5%;
    padding-right: 1em;
    text-align: right;
    font-size: 0.7em;
    text-decoration: none;
    color: #999;
    float: right;
}

.publication-date {
    font-style: italic;
}

.main-page .post-tags {
    height: 5%;
    width: 100%;
    font-size: 0.7em;
    color: #E0E0E0;
    text-align: center;
    text-decoration: none;
    color: #999;
    float: right;
}

.pagination {
    margin-left: 35%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #03A9F4;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.post-page div {
    overflow: hidden;
    width: 97%;
    margin: 0.5%;
    padding: 1%;
    font-size: 1em;
    float: left;
    background-color: #FAFAFA;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-family: "Roboto", sans-serif;
}

.post-page .post-name {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    color: #455A64;
}

.post-page .image-container {
    width: 99%;
    padding: 0;
}

.post-page .post-image {
    width: 100%;
}

.post-page .author-name, .post-page .publication-date {
    width: 47%;
    margin: 0.5%;
    padding: 1%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.post-page .post-tags {
    text-align: center;
    font-size: 0.8em;
}

.post-page .post-button {
    width: 20px;
    height: 20px;
    padding: 0;
    float: right;
    background: transparent;
    border-style: none;
    cursor: pointer;
    outline-style: none;
}

#post-view-delete-post-button, #post-view-edit-post-button {
    position: fixed;
    width: 2.5em;
    height: 2.5em;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.5);
    background-color: #01579B;
    border-style: none;
    outline-style: none;
    font-size: 1.3em;
    cursor: pointer;
    padding: 0.6em;
    padding-top: 0.8em;
    z-index: 2;
}

#post-view-delete-post-button {
    bottom: 2em;
    right: 5em;
}

#post-view-edit-post-button {
    bottom: 2em;
    right: 2em;
}

.error-page h1 {
  padding: 0.3em;
  font-family: "Roboto", sans-serif;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 40px;
  text-align: center;
  width: 100%;
  color: #03A9F4;
}

.error-page h6 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: justify;
  width: 70%;
  margin-left: 15%;
}

.clearfix {
    clear: both;
}

footer {
    background: #E0E0E0;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}


/*---- form ----*/

.tri-right::after {
    content: ' ';
    position: absolute;
    right: 0px;
    bottom: -20px;
    border: 12px solid;
    border-color: #FAFAFA #FAFAFA transparent transparent;
}

.filter-form, .log-in-form {
    position: fixed;
    z-index: 100;
    padding: 1em;
    background: #FAFAFA;
    display: none;
}

.filter-form {
    width: 26em;
    right: 4.5em;
    bottom: 5.5em;
    border-radius: 15px 15px 0 15px;
    background: #FAFAFA;
}

.filter-form p, .log-in-form p, .edit-form p {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: #03A9F4;
    font-size: 14px;
}

.filter-form label, .edit-form label {
    font-family: "Roboto", sans-serif;
    height: 1.7em;
    display: inline-block;
}

.filter-form input, .log-in-form input, .edit-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    border: 0;
    background: #f2f2f2;
    padding: 15px;
    margin: 0 0 5% 5%;
    box-sizing: border-box;
    font-size: 14px;
}

.log-in-form input {
    width: 100%;
    margin: 0 0 3% 0;
}

.filter-form input {
    width: 90%;
}

.log-in-form button, .filter-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #03A9F4;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.log-in-form {
    border-radius: 15px 15px 15px 15px;
    left: 30%;
    top: 15%;
    width: 40%;
    padding: 1em;
    font-family: "Roboto", sans-serif;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
}

.edit-form {
    padding: 1em;
    font-family: "Roboto", sans-serif;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
}

.edit-form p {
    font-size: 20px;
}

.edit-form label {
    font-family: "Roboto", sans-serif;
    height: 1.7em;
    display: inline-block;
}

.edit-form input, .edit-form textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    border: 0;
    background: #E2E2E2;
    width: 96%;
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
    font-size: 14px;
}

#add-text-input, #add-url-input, #editing-completed {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #03A9F4;
    width: 14em;
    height: 4em;
    margin: 1em;
    border: 0;
    padding: 1em;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
}

#overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: #000;
    opacity: 0.8;
}

@media (max-width: 600px), (orientation: portrait) {
    .header-line span {
        display: none;
    }
    header {
        box-shadow: 0 0 0;
        border-radius: 0px;
    }
    .main-page article {
        width: 100%;
        margin-bottom: 0.5em;
        margin-left: 0;
        margin-right: 0;
        box-shadow: 0 0 0;
    }
    .post-page article div {
        box-shadow: 0 0 0;
        border-top: #000 1px solid;
        border-bottom: #000 1px solid;
        width: 99%;
        margin-left: 0;
        margin-right: 0;
    }
    .post-page .author-name, .post-page .publication-date {
        width: 99%;
        margin-left: 0;
        margin-right: 0;
    }
    .tri-right::after {
        display: none;
    }
    .filter-form {
        left: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0;
    }
    .main-page .post-button {
        display: none;
    }
    .log-in-form {
        width: 100%;
        top: 10%;
        left: 0;
        border-radius: 0px;
    }
    #add-text-input, #add-url-input, #editing-completed {
        width: 98%;
        height: 3em;
        margin: 1%;
        padding: 1%;
    }
}

@media (max-width: 1200px) {
    header {
        border-radius: 0px;
        max-width: 100em;
    }
}

@media (max-width: 900px) {
    .post-text-container {
        font-size: 0.7em;
    }
}
