body {
    font-family: tahoma, pt-sans;
    background: #EBEBEB;
    margin: 0px;
    padding: 0px;
    top: 0;
}

.header-line {
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: auto;
}

header, section, footer {
    margin: 0 auto;
    max-width: 70em;
    display: block;
}

header {
    background: none repeat scroll 0 0 #FFF;
    margin-bottom: 1.25em;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.logo {
    padding: 1em;
    font-size: 2.3em;
    font-weight: 100;
    letter-spacing: -1px;
    text-decoration: none;
}

#log-in-button {
    background: #FFF;
    padding: 0.4em;
    float: right;
    text-align: center;
    border-style: none;
    font-size: 1.3em;
    color: #00F;
    cursor: pointer;
    outline-style: none;
}

.filter-button {
    position: fixed;
    right: 2em;
    bottom: 2em;
    width: 3em;
    height: 3em;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.5);
    background-color: #CCC;
    border-style: none;
    outline-style: none;
    font-size: 1.3em;
    cursor: pointer;
    padding: 0.6em;
    padding-top: 0.8em;
}

.filter-button-image {
    width: 1.75em;
    height: 1.75em;
}

section {
    width: 100%;
}

main {
    margin-top: 3.5em;
    margin-bottom: 2em;
}

article {
    width: 48%;
    float: left;
    background-color: #FFF;
    border-color: #000;
    margin: 0.5%;
    padding: 0.5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

span {
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    color: #888
}

.post-name {
    text-align: center;
    padding: 0.3em;
    font-size: 1.5em;
    font-weight: 100;
    text-decoration: none;
}

.short-discription {
    text-align: justify;
    padding: 1em;
    font-size: 1em;
    text-decoration: none;
}

.author-name, .publication-date {
    text-align: right;
    padding: 0em;
    padding-right: 2em;
    font-size: 0.8em;
    font-weight: 100;
    text-decoration: none;
    color: #999;
}

.publication-date {
    font-style: italic;
}

.post-tags {
    text-align: left;
    padding: 0em;
    padding-right: 2em;
    font-size: 0.8em;
    font-weight: 100;
    text-decoration: none;
    color: #999;
}

footer {
    background: #AAA;
    padding: 0.2em;
    padding-top: 1em;
    clear: both;
    position: relative;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.tri-right::after {
    content: ' ';
    position: absolute;
    right: 0px;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
}

.filter-form {
    display: none;
    position: fixed;
    width: 23em;
    right: 4.5em;
    bottom: 5.5em;
    background: #fff;
    border-radius: 15px 15px 0 15px;
    z-index: 100;
    padding: 1em;
}

.filter-form p {
  text-align: center;
    font-size: 1.5em;
    margin: 0.125em;
    margin-bottom: 0.5em;
}

.filter-form label {
    width: 3.5em;
    height: 1.7em;
    font: 0.7em;
    display: inline-block;
}

.filter-form input[type=text] {
    width: 20em;
    height: 1em;
    font: 0.7em;
    border: 1px solid #ccc;
}

.filter-form input[type="submit"] {
    background: #FFF;
    padding: 0.5em;
    float: right;
    text-align: center;
    border-style: none;
    font-size: 1em;
    color: #00F;
    cursor: pointer;
    outline-style: none;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background: #000;
    opacity: 0.8;
}

@media (max-width: 600px), (orientation: portrait) {
    article {
        width: 98%;
    }
    body {
        font-size: 12px;
    }
    .tri-right::after {
        display: none;
    }
    .filter-form {
        left: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0;
    }
    .filter-form form {
      padding-left: 5%;
      padding-right: 5%;
    }
    .filter-form label {
        width: 20%;
    }
    .filter-form input[type=text] {
        width: 70%;
    }
    .filter-form input[type="submit"] {
    }
}
