@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
  height: 100%;
  box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Roboto", sans-serif;
    background: #FAFAFA;
    margin: 0px;
    padding-bottom: 6rem;
    top: 0;
    min-height: 100%;
}

.header-line {
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: auto;
    background: #01579B;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

header, main, nav {
    margin: 0 auto;
    max-width: 70em;
    display: block;
}

header {
    max-width: 80em;
    height: 4.5em;
}

.logo {
    font-family: Eras Bold ITC;
    color: #FFF;
    padding: 0.5em;
    padding-top: 0.3em;
    font-size: 2.5em;
    letter-spacing: -1px;
    text-decoration: none;
    float: left;
}

nav {
    float: left;
    margin-top: 2em;
    margin-left: 1em;
}

nav img {
    margin-top: -0.2em;
    width: 2em;
    height: 2em;
    display: none;
}

nav button {
    background: transparent;
    text-align: center;
    border-style: none;
    color: #BCF;
    cursor: pointer;
    outline-style: none;
}

header input {
    color: #D3D3D3;
    background: #00237E;
    border-radius: 10px;
    border: 0;
    width: 18rem;
    margin-top: 1.8em;
    margin-left: 1em;
    padding: 0.5em;
    padding-left: 1em;
    box-sizing: border-box;
    font-size: 14px;
    outline: none; 
    float: left;   
}

#log-in-button {
    background: transparent;
    padding: 1.3em;
    padding-top: 1.7em;
    float: right;
    text-align: center;
    border-style: none;
    font-size: 1.1em;
    color: #FFF;
    cursor: pointer;
    outline-style: none;
}

#filter-button, #button-add-post {
    position: fixed;
    right: 2em;
    bottom: 2em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.5);
    background-color: #01579B;
    border-style: none;
    outline-style: none;
    font-size: 1.3em;
    cursor: pointer;
    z-index: 2;
}

#filter-button {
    padding: 0.6em;
    padding-top: 0.8em;
    right: 2em;
}

#button-add-post {
    padding: 0.7em;
    padding-top: 0.75em;
    right: 5em;
}

.button-image {
    width: 100%;
    height: 100%;
}

main {
    margin-top: 5.25em;
    margin-bottom: 1em;
}

.main-page article {
    overflow: hidden;
    width: 32.5%;
    height: 25em;
    margin: 0.25%;
    font-size: 1em;
    float: left;
    background: #f2f2f2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.main-page .image-container {
    float: left;
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.main-page .post-image {
    width: 100%;
}

.main-page .post-text-container {
    float: left;
    width: 100%;
    height: 60%;
}

.main-page .post-button {
    padding: 0;
    float: right;
    background: transparent;
    border-style: none;
    cursor: pointer;
    outline-style: none;
}
.main-page .edit-button {
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.main-page .delete-button {
  width: 20px;
  height: 20px;
}

.button-image {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.main-page .post-name {
    padding-bottom: 0;
    height: calc(20% - 0.5em);
    padding-top: 0.5em;
    width: calc(100% - 100px);
    margin-left: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.4em;
    font-family: Calibri Light;
    color: #455A64;
}

.main-page .short-discription {
    color: #212121;
    height: 60%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 0.8em;
    text-align: justify;
    overflow: hidden;
}

.main-page .publication-date, .main-page .author-name {
    width: 100%;
    height: 5%;
    padding-right: 1em;
    text-align: right;
    font-size: 0.7em;
    text-decoration: none;
    color: #999;
    float: right;
}

.publication-date {
    font-style: italic;
}

.main-page .post-tags {
    height: 5%;
    width: 100%;
    font-size: 0.7em;
    color: #E0E0E0;
    text-align: center;
    text-decoration: none;
    color: #999;
    float: right;
}

.pagination {
    margin-left: 35%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #03A9F4;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.post-page div {
    overflow: hidden;
    width: 97%;
    margin: 0.5%;
    padding: 1%;
    font-size: 1em;
    float: left;
    background-color: #FAFAFA;
}

.post-page .post-name {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    color: #455A64;
}

.post-page .image-container {
    width: 99%;
    padding: 0;
}

.post-page .post-image {
    width: 100%;
}

.post-page .author-name, .post-page .publication-date {
    width: 47%;
    margin: 0.5%;
    padding: 1%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.post-page .post-tags {
    text-align: center;
    font-size: 0.8em;
}

.post-page .post-button {
    width: 20px;
    height: 20px;
    padding: 0;
    float: right;
    background: transparent;
    border-style: none;
    cursor: pointer;
    outline-style: none;
}

#post-view-delete-post-button, #post-view-edit-post-button {
    position: fixed;
    width: 2.5em;
    height: 2.5em;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.5);
    background-color: #01579B;
    border-style: none;
    outline-style: none;
    font-size: 1.3em;
    cursor: pointer;
    padding: 0.6em;
    padding-top: 0.8em;
    z-index: 2;
}

#post-view-delete-post-button {
    bottom: 2em;
    right: 5em;
}

#post-view-edit-post-button {
    bottom: 2em;
    right: 2em;
}

.error-page h1 {
  padding: 0.3em;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 40px;
  text-align: center;
  width: 100%;
  color: #03A9F4;
}

.error-page h6 {
  font-size: 20px;
  text-align: justify;
  width: 70%;
  margin-left: 15%;
}

.clearfix {
    clear: both;
}

footer {
    background: #E0E0E0;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}


/*---- form ----*/

.tri-right::after {
    content: ' ';
    position: absolute;
    right: 0px;
    bottom: -20px;
    border: 12px solid;
    border-color: #FAFAFA #FAFAFA transparent transparent;
}

.filter-form, .log-in-form {
    position: fixed;
    z-index: 100;
    padding: 1em;
    background: #FAFAFA;
    display: none;
}

.filter-form {
    width: 26em;
    right: 4.5em;
    bottom: 5.5em;
    border-radius: 15px 15px 0 15px;
    background: #FAFAFA;
}

.filter-form p, .log-in-form p, .edit-form p {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: #03A9F4;
    font-size: 14px;
}

.filter-form label, .edit-form label {
    height: 1.7em;
    display: inline-block;
}

.filter-form input, .log-in-form input, .edit-form input {
    outline: 0;
    border: 0;
    background: #f2f2f2;
    padding: 15px;
    margin: 0 0 5% 5%;
    box-sizing: border-box;
    font-size: 14px;
}

.log-in-form input {
    width: 100%;
    margin: 0 0 3% 0;
    display: none;
}

.filter-form input {
    width: 90%;
}

.log-in-form button, .filter-form button {
    text-transform: uppercase;
    outline: 0;
    background: #03A9F4;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
}

.log-in-form {
    border-radius: 5px;
    left: 30%;
    top: 15%;
    width: 40%;
    padding: 1em;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
}

.edit-form {
    padding: 1em;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
}

.edit-form p {
    font-size: 20px;
}

.edit-form label {
    height: 1.7em;
    display: inline-block;
}

.edit-form input, .edit-form textarea {
    outline: 0;
    border: 0;
    background: #E2E2E2;
    width: 96%;
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
    font-size: 14px;
}

#add-text-input, #add-url-input, #editing-completed {
    text-transform: uppercase;
    outline: 0;
    background: #03A9F4;
    width: 14em;
    height: 4em;
    margin: 1em;
    border: 0;
    padding: 1em;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
}

#overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: #000;
    opacity: 0.8;
}